{% extends "base.html" %}
{% load staticfiles %}

{% block body_maincontent %}
    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeader">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-title">
                        <h2>ALL ORDERS</h2>
                    </div>
                </div>
                <div class="col-xs-6">
                    <ol class="breadcrumb pull-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">ALL ORDERS</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix userProfile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{% url 'account_dashboard' %}" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i>Account Dashboard</a>
                        <a href="{% url 'account_profile' %}" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                        <a href="{% url 'account_addresses' %}" class="btn btn-default"><i class="fa fa-map-marker" aria-hidden="true"></i>My Address</a>
                        <a href="{% url 'account_orders' %}" class="btn btn-default active"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="innerWrapper">
                        <div class="orderBox">
                            <h4>All Orders</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Date & Time Placed</th>
                                        <th>No. of Items</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in view.orders %}
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.placed_timestamp }}</td>
                                            <td>{{ order.order_details.all.count }}</td>
                                            <td>&#8369;{{ order.net_price }}</td>
                                            <td><span
                                                    {% if order.status == 'PL' %}
                                                        class="label label-default">
                                                    {% elif order.status == 'PR' %}
                                                        class="label label-info">
                                                    {% elif order.status == 'SH' %}
                                                        class="label label-primary">
                                                    {% elif order.status == 'RE' %}
                                                        class="label label-success">
                                                    {% elif order.status == 'CA' %}
                                                        class="label label-danger">
                                                    {% else %}
                                                        class="label label-warning">
                                                    {% endif %}
                                            {{ order.get_status_display }}</span></td>
                                            <td><a href="{% url 'account_orders_detail' order.id %}" class="btn btn-default">View</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
