{% extends "base.html" %}
{% load staticfiles %}

{% block body_maincontent %}
<!-- BANNER -->
<div class="bannercontainer">
        <div class="fullscreenbanner-container">
          <div class="fullscreenbanner">
            <ul>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                <img src="{% static "img/home/banner-slider/slider-bg.jpg" alt="slidebg1" %}" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption container">
                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="370"
                    data-y="54"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    <img src="{% static "img/home/banner-slider/shoe1.png" %}" alt="slider-image">
                  </div>

                  <div class="tp-caption rs-caption-2 sft"
                    data-hoffset="0"
                    data-y="119"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Engine Parts
                  </div>

                  <div class="tp-caption rs-caption-3 sft"
                    data-hoffset="0"
                    data-y="185"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Shop now at <br>
                    AutoPartsCentral <br>
                    <small></small>
                  </div>
                  <div class="tp-caption rs-caption-4 sft"
                    data-hoffset="0"
                    data-y="320"
                    data-speed="800"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll"><a href="#" class="btn primary-btn">See More<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                <img src="{% static "img/home/banner-slider/slider-bg.jpg" %}" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption container captionCenter">
                  <div class="tp-caption rs-caption-1 sft start captionCenterAlign"
                    data-x="center"
                    data-y="228"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    <img src="{%  static "img/home/banner-slider/shoe2.png" %}" alt="slider-image">
                  </div>

                  <div class="tp-caption rs-caption-2 sft captionCenterAlign"
                    data-x="center"
                    data-y="50"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Shop now at AutoPartsCentral
                  </div>

                  <div class="tp-caption rs-caption-3 sft captionCenterAlign"
                    data-x="center"
                    data-y="98"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Engine Parts
                  </div>

                  <div class="tp-caption rs-caption-4 sft captionCenterAlign"
                    data-x="center"
                    data-y="156"
                    data-speed="800"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll"><a href="#" class="btn primary-btn">See More<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                <img src="{%  static "img/home/banner-slider/slider-bg.jpg" %}" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption container">
                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="0"
                    data-y="85"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    <img src="{% static "img/home/banner-slider/shoe3.png" %}" alt="slider-image">
                  </div>

                  <div class="tp-caption rs-caption-2 sft "
                    data-hoffset="0"
                    data-y="119"
                    data-x="800"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    KYB Suspension
                  </div>

                  <div class="tp-caption rs-caption-3 sft"
                    data-hoffset="0"
                    data-y="185"
                    data-x="800"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Shop now at <br>
                    AutoPartsCentral <br>
                    <small></small>
                  </div>

                  <div class="tp-caption rs-caption-4 sft"
                    data-hoffset="0"
                    data-y="320"
                    data-x="800"
                    data-speed="800"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll"><a href="#" class="btn primary-btn">See More<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
    <div class="container">
        <div class="row featuredCollection">
            <div style="text-align:center">
                <style>
                </style>
                <h4>Search Parts by make:</h4>
                <h2>Choose your vehicle:</h2>
                <br>
                <h4>Make</h4>
                <form action="action_page.php">
                  <select name="cars" id="cars" style="text-align:center">
                    <option value="Toyota">Toyota</option>
                    <option value="Mitsubishi">Mitsubishi</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Hyundai">Hyundai</option>
                  </select>
                  <br><br>
                    <h4>Model</h4>
                </form>
                <form action="action_page.php">
                  <select name="cars" id="cars">
                    <option value="Fortuner">Fortuner</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                  </select>
                  <br><br>
                    <h4>Year</h4>

                  <select name="cars" id="cars">
                    <option value="2006">2006</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                  </select>
                  <br><br>
                        <input type="submit">
                  <br>
                  <br>
                  <br>
                </form>
            </div>

        </div>
        <div class="row featuredProducts">
            <div class="col-xs-12">
                <div class="page-header">
                    <h4>Featured Products</h4>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="owl-carousel featuredProductsSlider">
                    {% for i in view.part_featured %}
                    <div class="slide">
                        <div class="productImage clearfix">
                            <img src="{% static "img/home/featured-product/product-01.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption clearfix">
                            <a href="single-product.html">
                                <h5>{{ i.name }}</h5>
                            </a>
                            <h3>₱{{ i.price }}</h3>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-02.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Pistons</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-03.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Tires</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-04.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Castrol Magnatec</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-05.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Kayaba Shocks Absorbers</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-06.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Filters</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-07.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Spark Plugs</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="productImage">
                            <img src="{% static "img/home/featured-product/product-08.png" %}" alt="featured-product-img">
                            <div class="productMasking">
                                <ul class="list-inline btn-group" role="group">
                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="productCaption">
                            <a href="single-product.html">
                                <h5>Turbos</h5>
                            </a>
                            <h3>₱ TBA</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- LIGHT SECTION -->
<!-- PORDUCT QUICK VIEW MODAL -->
<div class="modal fade quick-view" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="img/products/quick-view/quick-view-01.jpg" alt="Image">
                    </div>
                    <div class="media-body">
                        <h2>AutoPartsCentral.ph</h2>
                        <h3>$149</h3>
                        <p>AutoPartsCentralPhilippines</p>
                        <span class="quick-drop">
                          <select name="guiest_id3" id="guiest_id3" class="select-drop">
                            <option value="0">Size</option>
                            <option value="1">Size 1</option>
                            <option value="2">Size 2</option>
                            <option value="3">Size 3</option>
                          </select>
                        </span>
                        <span class="quick-drop resizeWidth">
                          <select name="guiest_id4" id="guiest_id4" class="select-drop">
                            <option value="0">Qty</option>
                            <option value="1">Qty 1</option>
                            <option value="2">Qty 2</option>
                            <option value="3">Qty 3</option>
                          </select>
                        </span>
                        <div class="btn-area">
                            <a href="#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


