{% extends "base.html" %}
{% load staticfiles %}

{% block body_maincontent %}
    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeader">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-title">
                        <h2>Product Grid View</h2>
                    </div>
                </div>
                <div class="col-xs-6">
                    <ol class="breadcrumb pull-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">shop</a>
                        </li>
                        <li class="active">Product Grid Left Sidebar</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix productsContent">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
                    <div class="panel panel-default">
                        <div class="panel-heading">Product categories</div>
                        <div class="panel-body">
                            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                                <ul class="nav navbar-nav side-nav">
                                    {% for i in view.categories_l1 %}
                                        <li>
                                            <!--<a href="{% url 'shop' %}?category1={{ i.slug }}">{{ i.name }}</a>-->
                                            <a href="javascript:;" data-toggle="collapse" data-target="#{{ i.id }}">{{ i.name }}<i class="fa fa-plus"></i></a>
                                            <ul id="{{ i.id }}" class="collapse collapseItem">
                                                <li><a href="javascript:void(0)" class="set_category_1_filter" data-name="{{ i.slug }}">
                                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                    All <span>({{ i.parts.all.count }})</span></a>
                                                </li>
                                                {% for j in i.categories.all %}
                                                    <li><a href="javascript:void(0)" class="set_category_2_filter" data-name="{{ j.slug }}">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                        {{ j.name }} <span>({{ j.parts.all.count }})</span></a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default filterNormal">
                        <div class="panel-heading">filter by vehicle</div>
                        <div class="panel-body">
                            <div class="filterArea">
                                <select name="guiest_ed1" id="filter_vehicle_make" >
                                    <option value=0 selected disabled>Make</option>
                                    {% for i in view.vehicle_makes %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="filterArea">
                                <select name="guiest_id1" id="filter_vehicle_model">
                                    <option value=0 selected disabled>Model</option>
                                </select>
                            </div>
                            <br>
                            <div class="filterArea">
                                <select name="guiest_id1" id="filter_vehicle_year">
                                    <option value=0 selected disabled>Year</option>
                                </select>
                            </div>
                            <br>
                            <div class="filterArea">
                                <div class="btn-group center-block" role="group">
                                    <button type="button" id="clear_vehicle_filter" class="btn btn-default"><span>Clear</span></button>
                                    <button type="button" id="set_vehicle_filter" class="btn btn-default active"><span>Apply</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row filterArea">
                        <div class="col-xs-6">
                            <select name="guiest_id1" id="guiest_id1" class="select-drop">
                                <option value="0">Default sorting</option>
                                <option value="1">Sort by popularity</option>
                                <option value="2">Sort by rating</option>
                                <option value="3">Sort by newness</option>
                                <option value="3">Sort by price</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-default active" onclick="window.location.href='product-grid-left-sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
                                <button type="button" class="btn btn-default" onclick="window.location.href='product-list-left-sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for i in view.parts %}
                            <div class="col-sm-4 col-xs-12">
                                <div class="productBox">
                                    <a href="{% url 'shop_single' %}?part={{ i.slug }}">
                                        <div class="productImage clearfix">
                                            {% if not i.images.all  %}
                                                <img src="{% static "img/products/products-01.jpg" %}" alt="products-img">
                                            {% else %}
                                                <img src="{{ i.images.all.first.image.url }}" alt="products-img">
                                            {% endif %}
                                            <div class="productMasking">
                                                <!--
                                                <ul class="list-inline btn-group" role="group">
                                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a></li>
                                                </ul>
                                                -->
                                            </div>
                                        </div>
                                        <div class="productCaption clearfix">
                                            <h5>{{ i.name }}</h5>
                                            <h3>P{{ i.price }}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel partnersLogoSlider">
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-01.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-02.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-03.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-04.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-05.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-01.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-02.png" alt="partner-img">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <img src="img/home/partners/partner-03.png" alt="partner-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_scripts_extra %}
    <script src="{% static "js/uri.js" %}"></script>
    <script src="{% static "js/vehicle.js" %}"></script>
{% endblock %}
